<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>jsttxt</title>
    <%= javascript_include_tag "moo_tools" %>
    <%= javascript_include_tag "moo_editable" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "screen" %>
  </head>
  <body id="<%= controller.controller_name %>_<%= controller.action_name %>">
    <div id="container">
      <header>
        <h1><a href="/">jsttxt</a></h1>
        <nav class="user">
          <% if current_user %>
          <%= link_to "new", new_note_path %> | <a href="/account/edit">settings</a>
          <% end %>
        </nav>
      </header>
      <section id="main" class="yui-cssbase">
        <% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end %>
        <%= yield %>
      </section>
    </div>
  </body>
</html>